:root {
  --mobile-width: 640px;
  --desktop-width: 1200px;
  --main-yellow: #f5c506;
  --main-orange: #ec9e03;
  --main-white: #f7f7f7;
  --main-grey: #474747;
}

/* asap-condensed-regular - latin */
@font-face {
  font-family: 'Asap Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Asap Condensed Regular'), local('AsapCondensed-Regular'),
       url('assets/asap-condensed-v5-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/asap-condensed-v5-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Segoe WP';
  font-style: normal;
  font-weight: normal;
  src: local('Segoe WP'), url('assets/SegoeWP.woff') format('woff');
  }

  /* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('assets/open-sans-v17-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/open-sans-v17-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-narrow-700 - latin */
@font-face {
  font-family: 'PT Sans Narrow';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Narrow Bold'), local('PTSans-NarrowBold'),
       url('assets/pt-sans-narrow-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/pt-sans-narrow-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* pt-sans-regular - latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('assets/pt-sans-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('assets/pt-sans-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*********** Scaffolding **************/
body {
  background-color: rgb(239, 245, 225);
}

a {
	text-decoration: none;
}

/*Styles for Overall Site*/
.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;

	border: 0;
	white-space: nowrap;

	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1300px;
  margin: auto;
  padding: 0 9px;
}
/******** END of Scaffolding ***********/

/*********** Header **************/

/******** END of Header ***********/
